@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @ViewBag.iLoguari.Name</h1>
</div>

<div class="row">
<div class="col-sm-6">
<h5>Here is your profile description:</h5>
<p>@ViewBag.iLoguari.Description</p>


<h5>Your profesional network:</h5>
<table class="table">
    <thead>
        <th>Name</th>
    </thead>
       <tbody>
        
                
                  
                @foreach (var miqte in ViewBag.miqte){
                
                        @if (@miqte.SenderId == ViewBag.iLoguari.UserId)
                        {
                           <tr>
                            <td><p> <a href="/users/@miqte.ReciverId"> @miqte.Reciver.Name</a> |
                               <a href="/DeclineR/@miqte.RequestId" >  Delete  </a> </p>
                               </td>
                            </tr>
                        }
                        else
                        {
                             <tr>
                            <td> 
                                <p>
                 <a href="/users/@miqte.SenderId">@miqte.Sender.Name</a> 
                    |  <a href="/DeclineR/@miqte.RequestId" >Delete</a></p>
                            </td>
                            </tr>  
                         
                        }
                     }
        </tbody>
  </table>


<br>

<h5>Invitations:</h5>
<p>The following people asked you to be their network:</p>
 <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in ViewBag.requests)
                {
                    <tr>
            
                        <td>@request.Sender.Name </td>
                        <td>
                            <a href="/AcceptR/@request.RequestId" >Accept Invite </a>  <a href="/DeclineR/@request.RequestId" > Ignore </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

 



<div class="col-sm-3">
<a href="/AllUsers">All Users</a> <a href="/Post/Add">Create Post</a> <a href="/Logout">Logout</a>
</div>
</div>
<div class="row">
   <h3>The wall of posts</h3>

    @foreach (var post in @ViewBag.posts)
    {
       <div class="col-sm-6">
        <h5 class="text-success">@post.Comment </h5> 
        </div>
        <div class="col-sm-4">
        <p class="text-primary">by @post.Creator.Name</p>
      </div>
        var id = 0;
         @foreach (var fan in post.Fans)
        {
            if(fan.UserId == @ViewBag.iLoguari.UserId)
            {
               id = fan.PostId;
               break;
            }
            
        }
        if (id == 0)
        {
            <a href="Post/BehuFans/@post.PostId">Like</a>
        }
        else
        {
            <a href="/Post/HiqeFans/@post.PostId">UnLike </a>
        }
        
       <p> @post.Fans.Count likes</p>
     
       
    }
 </div>   